<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>area de contratação</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/programadores" >programadores</a>
                <a href="/clientes">clientes</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>
    </body>
</html>