{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/programadores">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/385548/500x500) no-repeat center center / cover"></section>
    <section class="details">
    
        <h3>novo programador</h3>


        {% include 'programadores/campos.njk' %}

    </section>
</form>

{% endblock content %}